/*CSS*/


*{/*Resetando valores*/
	margin: 0px;
	padding: 0px;
}
a{
    text-decoration: none;
    color: black;
}


/*### -- CABEÇALHO -- ###*/
header{
	min-width:2000px;
    width: auto;
	height: 200px;
	/*BACKGROUND*/

}
	#cabecalho{
	    width: 1600px;
	    height: 200px;
        margin: auto;
	}

	#logo{
		width: 150px;
		height: 150px;
		background-image: url("../img/logo.png");
		background-repeat: no-repeat;
		float: left;
		margin-left: 150px;
		margin-top: 25px;
	}
    
	nav{
		width: 900px;
		height: 80px;
		float: left;
		margin-top: 120px;
	}
	#lista_menu{
        width: 600px;
        height: 40px;
		margin: auto;
		text-align: center;
        border-left: solid 1px; 
        border-right: solid 1px; 
	}
	#lista_menu li{
		min-width: 60px;
		height: 25px;
		margin-left:5px;
		margin-right: 5px;
		font-size:20px;
		padding: 5px;
		font-family: Verdana;
		text-align:center;
		display:inline-block;
	}
    #lista_menu li:hover {
        border-bottom: solid 2px #d7f4ea;
        transition: 0.5s;
    }
    
	#login{
		width: 320px;
		height: 65px;
        float: left;
		margin-top: 85px;
        
        border-left-color: #6fcbc1;
        border-left-width: 1px;
        border-left-style: solid;
	}
    
    #caixa_inputs{
        width: 120px;
        height: 60px;
        float: left;
    }
    .input_login{
        width: 90px;
        height: 20px;
        background-color: #fafafa;
        margin-top: 5px;
        margin-left: 5px;
        border-radius: 1px;
        border: solid 1px #f2f2f2 ;
        font-family: Verdana;
        
    }
    #btn_login{
        width: 70px;
        height: 25px;
        margin-top: 20px;
        margin-right: 10px;
        border-radius: 3px;
        border: solid 1px #837d7d;
        border: solid 1px #b4b4b4;
        color: #6c95cc;
        background-color: #f7f7f7;
        float: left;
    }
/*CABEÇALHO - FIM*/

/*### -- SECTION -- ###*/

section{
	width: 1800px;
	height: auto;
	min-height: 500px;
	margin: auto;

}
h1{
    font-family: tahoma;
    font-size: 25px;
    color: #91d99f;
    margin: auto;
    text-align: center;
}


#content{
    width: 1200px;
    height: 525px;
    border-left: solid 1px #959595;
    border-right: solid 1px #959595;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#img_evento{
    width: 600px;
    height: 450px;
    background-color: antiquewhite;
    float: left;
    margin-left: 10px;
    border: solid 1px;
    border-radius: 5px;
}
.img{
    width: 600px;
    height: 450px;
    margin: auto;
}
#sobre_evento{
    width: 400px;
    height: 500px;
    float: left;
    margin: auto;
    margin-left: 10px;
    font-family: arial;
    font-size: 15px;
    text-align: justify;
}


/*SECTION - FIM*/

/*RODAPÉ*/
footer{
	width: 85%;
	height:100px;
	background-color: gray;
	margin: auto;
    border-radius: 5px;
    text-align: center;
    font-family: tahoma;
    font-size: 25px;
}	
/*RODAPÉ - FIM*/